header{
width: 100%;
height: 20vh;
background-image: url(../../../public/360_F_755539888_q4PDoaknuhR2CqTtl79LJFr8pbH6h3lS.jpg);
background-position: center 60%;
background-size: cover;
background-repeat: no-repeat;


display: flex;
justify-content: center;
    
}

nav {

    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

    ul {
        width: 70%;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 30px;
       

        li {
            a {
                text-decoration: none;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-style: italic;
                font-weight: 600;
                color: rgb(19, 17, 17);

                &.cart-icon {   
                    position: relative;     
                    display: flex;

                   span {
                           position: absolute;
                           top: -8px;
                            right: 17px;
                    }
                }

            }
           
        }
    }
}

.active {

    background-color: #e6e6e6;
    padding: 10px 20px;
    border-radius: 8px;


}

