<header>
  <nav>
    <ul>
      <li>
        <a routerLink="logo">
          <img src="https://restaurant.stepprojects.ge/images/logo.png" alt="Logo" style="height: 80px;" />
        </a>
      </li>
      <li><a routerLink="home" [routerLinkActive]="active">Home</a></li>
      <li>
        <button (click)="toggleCart()" class="cart-icon">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </li>
    </ul>
  </nav>

  <!-- Popup modal -->
  <app-cart
    *ngIf="showCart"
    [isAuthenticated]="isAuthenticated"
    (close)="showCart=false"
    (loggedIn)="onLoginSuccess()">
  </app-cart>
</header>
