<h2>Product Filter</h2>

<div *ngIf="showList && filteredProducts.length > 0" class="search">
  <input type="text" placeholder="Search by title..." [(ngModel)]="searchTerm" />
</div>

<div *ngIf="showList" class="cards">
  <div *ngFor="let product of filteredProducts" class="card">
    <h3>{{ product.title }}</h3>
    <img class="product-image" src="{{ product.image }}" />
    <p><strong>Price:</strong> {{ product.price }} €</p>
    <p><strong>Name:</strong> {{ product.name }}</p>
    <p><strong>Nuts:</strong> {{ product.nuts }}</p>
    <p><strong>Spiciness:</strong> 🌶️ {{ product.spiciness }}</p>
    <p><strong>Vegetarian:</strong> 🌿 {{ product.vegetarian }}</p>
    <button (click)="addToCart(1, product.price, product.id)">Add to cart</button>
  </div>
</div>

